:root {
  --system-background: white;
  --background: white;
  --code-background: #ddd;

  /* matching the height of system title bar */
  --title-bar-height: 30px;

  --text-border-radius: 8px;
  --button-border-radius: 4px;
  --code-border-radius: 4px;

  --text-padding: 0.4rem 1.2rem;

  --main-width: 45rem;
}

/* scrollbar appearance */

/* hide the default scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

/* track */
::-webkit-scrollbar-track {
  background-color: transparent;

  /* make the scroll bar stops just short of touching the border */
  margin: 8px;
}

/* handle */
::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 4px;
}

/* remove arrow buttons */
::-webkit-scrollbar-button {
  display: none;
}

body {
  font-family: "Open Sans", "Microsoft YaHei UI", Arial, Helvetica, sans-serif;
  font-size: 11pt;
  background-color: var(--system-background);

  display: flex;
  flex-direction: column;

  -webkit-app-region: drag;
  user-select: none;
  -webkit-user-select: none;
}

#title-bar {
  height: var(--title-bar-height);
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--system-background);
}

#chat-container {
  /* re-enable text selection */
  user-select: text;
  -webkit-user-select: text;
  -webkit-app-region: none;

  height: calc(100vh - var(--title-bar-height));

  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: var(--main-width);
  margin: auto;
  background-color: var(--background);
}

#chat-box,
#input-box {
  overflow: auto;
  border-radius: var(--text-border-radius);
}

#chat-box {
  flex: 3;
  margin-top: var(--title-bar-height);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#input-box {
  flex: 1;
  position: relative;
  display: flex;
  box-shadow: 0px 0px 20px lightgray;
}

#input-box:focus-within {
  box-shadow: 0px 0px 20px rgba(100, 149, 237, 0.25);
}

#input-textarea {
  flex-grow: 1;
  overflow: auto;
  padding: var(--text-padding);
  /* need extra padding to look good */
  padding-top: 1rem;
  padding-bottom: 1rem;

  /* make room for the send button */
  padding-right: 3.5rem;
  border-radius: var(--text-border-radius);
  line-height: 140%;
}

#input-textarea:focus {
  outline: none;
}

#send-button-container {
  position: absolute;
  top: 0;
  right: 10px;
  width: 5em;
  height: 100%;
  color: #fff;
}

#send-button {
  position: absolute;
  bottom: 8px;
  right: 0px;
  width: 2.4rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: var(--button-border-radius);
  background-color: white;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

#send-button:hover {
  background-color: #f8f8f8;
}

#send-icon {
  max-width: 100%;
  max-height: 100%;
}

#loading-icon {
  width: 36px;
  height: 36px;
}

.message-row {
  display: flex;
  flex-direction: row;

  /* keep away from the scroll bar */
  padding-right: 5px;
}

.prompt-row {
  justify-content: flex-end;
}

.message {
  line-height: 150%;
  width: fit-content;
  max-width: calc(var(--main-width) - 10rem);
  padding: var(--text-padding);
  border-radius: var(--text-border-radius);
  background-color: #f3f3f3;
  overflow-x: auto;
}

code {
  font-family: "Consolas", "Courier New", Courier, monospace;
  color: darkcyan;
  border-radius: var(--code-border-radius);
  background-color: var(--code-background);
  display: inline-block;
  padding: 0 5px;
}

pre {
  overflow-x: auto;
  background-color: var(--code-background);
  border-radius: var(--text-border-radius);
  padding: var(--text-border-radius);
}

pre code {
  overflow-x: auto;
}

a {
  color: cornflowerblue;
}

.prompt {
  /* a bit narrower than responses looks better */
  max-width: calc(var(--main-width) - 15rem);
  background-color: rgb(191, 223, 152);
}

.response {
  color: darkslategray;
}

.error {
  color: #efefef;
  background-color: indianred;
}
